
    
/* header finsih */
.section-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
 margin-left: 31px;
 gap: 37px;
}
.about-info{
    display: flex;
   flex-direction: column;
 gap: 24px;
 width: 50%;
  
}
.about-info .about-title{
    color: #303031;
font-family: Roboto;
font-size: 70px;
font-weight: 700;
line-height: 80px; /* 114.286% */
}
.about-info .about-prg{
    color: #66645E;
font-family: Open Sans;
font-size: 24px;
font-weight: 400;
line-height: 32px; /* 133.333% */
letter-spacing: -0.48px;
} 
.about-info .btn{
    display: inline-flex;
padding: 20px 24px;
align-items: center;
border-radius: 8px;
background: #71A894;
border: none;
color: #fff;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 24px; /* 133.333% */
width: 220px;
height: 64px;
}
.about-svg{
    width: 50%;
    /* height: 50%; */
    margin-right: 31px;
    margin: 31px;
}
.about-svg img{
    width: 100%;
}
.box{
    display: flex;
    flex-direction: column;
   gap: 30px;
}
.box-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.box-info .box-title{
    color: #303031;
text-align: center;
font-family: Roboto;
font-size: 48px;
font-weight: 800;
line-height: 64px; /* 133.333% */

}
.box .box-prg{
    color: #303031;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
margin-bottom: 24px;
}
.card{
    display: flex;
width:100%;
justify-content: center;
align-items: flex-start;
gap: 23px;
flex-shrink: 0;
}
.card-info{
    display: flex;
    flex-direction: column;
    width: 427px;
    height: 300px;
    border-radius: 8px;
background:  #fff;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
gap: 16px;
}
.card-info img{
    display: block;
    margin: 30px auto;
    
}
.card-info .card-title{
    color: #303031;
text-align: center;
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 32px; /* 133.333% */
}
.card-info .card-desc{
    color: #303031;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 26px; /* 144.444% */
}
.member{display: flex;
justify-content: space-between;
margin-top: 70px;
}
.member-info{
    width: 40%;
    display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 24px;
   margin-left: 56px;
    /* gap: 24px; */
}
.member-info .member-title{
    color: #303031;
font-family: Roboto;
font-size: 48px;
font-weight: 800;
line-height: 64px; /* 133.333% */
}
.member-info .member-desc{
    color: #303031;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
}
.members-widget{
    height: 400px;
    width: 26%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
border: 4px solid  #303031;
background:  #fff;
gap: 32px;
margin-right: 40px;
}
.container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.members-widget .mw-title{
    color:  #303031;
font-family: Roboto;
font-size: 32px;
font-weight: 600;
line-height: 40px; /* 125% */
letter-spacing: -0.64px;
margin: 6px 30px;
}
.members-widget .members img{
    /* margin: 10px; */
   padding: 8px;
    width: 78px;
    height: 78px;
    /* flex-shrink: 0; */
    border-radius: 50%;
}
.container .information p{
    color:  #303031;
font-family: Roboto;
font-size: 24px;
font-style: italic;
font-weight: 100;
line-height: 26px; /* 108.333% */
letter-spacing: -0.48px;
}
.container .information span{
    color:  #66645E;
font-family: Roboto;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: -0.32px;
}
.proposals{
    display: flex;
    justify-content: space-between;
}
.proposal{ /*display: flex;
justify-content: space-between; */
border-radius: 16px;
border: 4px solid#303031;
background:  #fff;
width: 30%;
height: auto;
margin-top:70px ;
margin-left: 56px;
} 
.pro-content{
    display: flex;
  gap: 10px;
  

}
.jassir-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content:center;*/
    align-items:flex-start; 
}

.context button{
    display: block;
}
.jassir-img img{
    width: 78px;
height: 78px;
border-radius: 50%;
margin: 10px;

}
.jassir-info p{
    color: #303031;
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.48px;
margin: 10px;
}
.jassir-info span{
    color:  #66645E;
font-family: Roboto;
font-size: 16px;
font-style: italic;
font-weight: 100;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}
.jassir-content p{
    color:  #303031;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
margin: 10px;
}
.context span{
    color: #66645E;
font-family: Roboto;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
padding: 40px;
}
.context div span{
    color:  #303031;
font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -0.48px;
}
.context button{
    border-radius: 16px;
background: #303031;
width: 110%;
padding: 8px 18px;
    color:#fff;
font-family: Roboto;
font-size: 24px;
font-weight: 500;
line-height: 32px; /* 133.333% */
letter-spacing: -0.48px;
margin: 20px 50px;
}
.proposal-info{
    display: flex;
    flex-direction: column;
    gap:24px ;
    width: 50%;
    margin-top: 70px;
}
.proposal-info img{
    width: 80px;
height: 80px;
fill:  #F3F0EA;
}
.proposal-title{
    color: #303031;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}
.proposal-desc{
    color: #303031;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
}
.feature{
    display: flex;
    justify-content: space-between;
   gap: 39px;
   margin-top: 80px;
}
.feature-info{
    /* display: flex;
    flex-direction: column; */
    gap: 24px;
    width: 40%;
    justify-content: flex-start;
    margin-left: 56px;
}
.feature-info .feature-title {
    color:  #303031;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
    
}
.feature-info .feature-desc{
    color:  #303031;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
}
.taskbar{
    display: flex;
    flex-direction: column;
  gap: 10px;
  width: 50%;
}
.taskbar .task{
    border-radius: 16px;
border: 4px solid  #303031;
background:  #fff;
display: flex;
width: 90%;
padding: 24px;
flex-direction: column;
align-items: center;
gap: 10px;

}
.taskinfo{
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
    align-items: center;
   width: 100%;
}
.taskinfo .task-title{
    display: flex;
    color: #303031;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: -0.36px;
}
.taskinfo .task-btn{
    display: flex;
padding: 4px 8px;
border-radius: 40px;
background:  #71A894;
/* align-items: center; */
gap: 0px;
color:  #fff;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}
.task .task-desc{
    color:  #303031;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}
.apppro{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    gap: 10px;
    
}
.application{
    display: flex;
    flex-direction: column;
    /* width: 381px; */
    width: 50%;
    padding: 32px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
border: 4px solid  #303031;
background:  #F3F0EA;
}
.application .app-title{
    color:  #303031;
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.48px;
}
.application img{
   border-radius: 50%;
   display: inline;
}
.application span{
   display: inline;
    color:#303031;
font-family: Roboto;
font-size: 20px;
font-style: italic;
font-weight: 100;
line-height: 24px; /* 120% */
letter-spacing: -0.4px;
}
.application div{
    display: flex;
align-items: center;
gap: 16px;
}
.profile-widget{
    width: 40%;
height: 288px;
flex-shrink: 0;
border-radius: 16px;
border: 4px solid #71A894;
background:  #fff;
}
.profile-widget img{
   border-radius: 50%;
 width: 78px;
 height: 78px;
 margin-top: 24px;
}
.profile-widget .profil-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.profil-title .profile-desc{
    color: #303031;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 24px; /* 120% */
letter-spacing: -0.4px;
}
.profil-title p{
    color:  #66645E;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}
.profile-widget .profil-bottom{
    display: flex;
    flex-direction: column;
    gap: 14px;
   margin-left: 10px;
}
.profile-widget .commit{
    color:  #303031;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}
.profile-widget button{
    color: #fff;
width: 192px;
padding: 12px 24px;
border-radius: 16px;
background:  #303031;
}
/* main{
    display: flex;
    flex-direction: column;
    gap: 40px;
} */
.bottom{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 80px;
}
.bottom .bottom-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}
.bottom .bottom-title{
    color:  #303031;
text-align: center;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 64px; /* 133.333% */
}
.bottom .bottom-desc{
    color:  #303031;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;

}
.bottom-cards{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}
.card-bottom{
    padding: 24px;
    width: 28%;
height: 212px;
flex-shrink: 0;
border-radius: 16px;
background:  #FFF;
/* Card Shadow */
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}
.cb-title{
    color:  #303031;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: -0.36px;
}
.cb-desc{
    color:  #303031;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;

}
.bottom-btn{
    display: flex;
    justify-content: space-between;
padding-top: 28px;
}
.bottom-btn button{
    display: inline-flex;
padding: 4px 8px;
align-items: center;
gap: 10px;
border-radius: 40px;
background: #71A894;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    border: none;
}
.bottom-btn span{
    color:  #303031;
/* text-align: right; */
font-family: Roboto;
font-size: 16px;
font-style: italic;
font-weight: 100;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}
.cb-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.btn-view{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-view button{
    display: inline-flex;
padding: 20px 24px;
flex-direction: column;
align-items: center;
border-radius: 8px;
background:  #303031;
color: #fff;
margin: 64px;
cursor: pointer;
}
.ellipse img{
    /* display: flex; */
 width: 284px;
 height: 72px; 
/* flex-direction: column;  */
 justify-content: center;
align-items: flex-start;
gap: 30px;
overflow: hidden;
object-fit: cover;
}
